input {
    background: #55608f;
    width: 200px;
    padding: 1em;
    margin-bottom: 2em;
    border: none;
    border-radius: 5000px;
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

input[type="button"] {
    margin-top: 2em;
    width: 50px;
    font-size: 0.75rem;
    background-color: #55608f;
    border: 1px solid #55608f;
}
input:hover {
    cursor: pointer;
}
input::placeholder{
    color: #fff;
}