table {
	width: 800px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
    align-items: center;
    position: relative;
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
    font-weight: bold;
    filter: box-shadow(0 0 2px rgba(0,0,0))
}

th {
	text-align: center;
}

thead th {
	background-color: #55608f;
}

td {
	position: relative;
    text-align: center;
}