@import "./Components/header.css";
@import "./Components/table.css";
@import "./Components/table.css";
@import "./Components/input.css";


html,
body {
	height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
	background: #6C7A89;
	font-weight: 100;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
	position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, 0%);
}


